*.pyc
*.log
node_modules
coverage/
arches_perms5/logs
arches_perms5/export_deliverables
arches_perms5/cantaloupe/*
arches_perms5/staticfiles
arches_perms5/media/packages
arches_perms5/media/build/
arches_perms5/uploadedfiles/*
arches_perms5/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
